<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

    <link rel="apple-touch-icon" sizes="180x180" href="/assets/icons/apple-touch-icon.png?v=lkdvoGKWwx">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/icons/favicon-32x32.png?v=lkdvoGKWwx">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/icons/favicon-16x16.png?v=lkdvoGKWwx">
    <link rel="manifest" href="/assets/icons/manifest.json?v=lkdvoGKWwx">
    <link rel="mask-icon" href="/assets/icons/safari-pinned-tab.svg?v=lkdvoGKWwx" color="#115a66">
    <link rel="shortcut icon" href="/assets/icons/favicon.ico?v=lkdvoGKWwx">
    <meta name="apple-mobile-web-app-title" content="Macht Glaube Hoffnung">
    <meta name="application-name" content="Macht Glaube Hoffnung">
    <meta name="msapplication-config" content="/assets/icons/browserconfig.xml?v=lkdvoGKWwx">
    <meta name="theme-color" content="#ffffff">

    <link href="https://fonts.googleapis.com/css?family=Merriweather:300|Montserrat:300,500,700" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/main.css">
</head>
