<div id="newsletterModal" class="c-modal">

    <div class="c-modal__title">
        <a class="c-modal__clickplace jsToggle" href="#" data-target="#newsletterModal" data-class="is-visible"></a>
        E-Mail <br class="u-hidden-until@tablet">Alarm
    </div>

    <div class="c-modal__body">
        {% include sendinblue.html %}
    </div>

    <div class="c-modal__close">
        <a class="c-modal__clickplace jsToggle" href="#" data-target="#newsletterModal" data-class="is-visible"></a>
        <span class="u-ic-close"></span>
    </div>

</div>


<div id="newsletterModalMobile" class="c-modal c-modal--hidden u-hidden-from@tablet">

    <div class="c-modal__title">
        E-Mail Alarm
    </div>

    <div class="c-modal__body">

    </div>

    <div class="c-modal__close">
        <a class="c-modal__clickplace jsToggle" href="#" data-target="#newsletterModalMobile" data-class="is-shown"></a>
        <span class="u-ic-close"></span>
    </div>

</div>
