<div id="sib_embed_signup" class="forms-builder-wrapper" style="position:relative">
    <div id="sib_loading_gif_area" style="position: absolute;z-index: 9999;display: none;">
      <img src="https://my.sendinblue.com/public/theme/version4/assets/images/loader_sblue.gif" style="display: block;margin-left: auto;margin-right: auto;position: relative;top: 40%;">
    </div>
    <form class="c-form c-form--large description" id="theform" name="theform" action="https://my.sendinblue.com/users/subscribeembed/js_id/2vx38/id/1" onsubmit="return false;">
        <input type="hidden" id="sib_embed_signup_lang" value="de">
        <input type="hidden" id="sib_embed_invalid_email_message" value="Diese E-Mail-Adresse ist nicht gültig. ">
        <input type="hidden" name="primary_type" id="primary_type" value="email">
        <input type="hidden" name="js_id" id="js_id" value="2vx38">
        <input type="hidden" name="listid" id="listid" value="5">
        <input type="hidden" name="from_url" id="from_url" value="yes">
        <input type="hidden" name="hdn_email_txt" id="hdn_email_txt" value="">
        <input type="hidden" name="req_hid" id="req_hid" value="">

        <style>
            #sib_embed_signup .message_area {position: relative; padding: 10px 30px 10px 10px; font-size:14px; border-radius: 5px; margin-bottom: 12px;}
            #sib_embed_signup .message_area button.close {position: absolute; right: 8px; border: 0; color: inherit; background-color: transparent; padding: 0px; -webkit-appearance: none; cursor: pointer; font-weight: bold; font-size: 1.5em; line-height: 21px;}
        </style>

        <p class="u-mb--">Lassen Sie sich an das Event erinnern</p>
        <!-- SendinBlue .message_area anchor -->
        <div class="row mandatory-email sib-container rounded">
            <div class="c-input-btn c-input-btn--wrap c-input-btn--no-border u-mb-">
                <input class="c-input-btn__input" type="text" name="email" id="email" value="" placeholder="name@email.de">
                <button class="c-input-btn__btn c-btn c-btn--primary c-btn--shadow" type="submit" data-editfield="subscribe">E-Mail Erineerung aktivieren</button>
            </div>
        </div>

        <script type="text/javascript">
            var sib_prefix = 'sib';
            var sib_dateformat = 'dd-mm-yyyy';
        </script>
        <script type='text/javascript' src='https://my.sendinblue.com/public/theme/version4/assets/js/src/subscribe-validate.js?v=1504161398'></script>

    </form>
</div>
