<footer class="c-page-footer u-mt++">
    <div class="o-wrapper u-content-center">

        <ul class="o-list-inline u-mb0">
            <li>
                &copy; 2016 It Is Written, Inc.
            </li>
            <li data-delimiter="&middot ">
                <a class="c-link c-link--white" href="/impressum/">Impressum</a>
            </li>
            <li data-delimiter="&middot ">
                <a class="c-link c-link--white" href="/datenschutz/">Datenschutzerkl&auml;rung</a>
            </li>
        </ul>

    </div>
</footer>
