---
layout: default
---

<header id="menu" class="c-sticky">
    <nav id="nav" class="o-wrapper u-text-center u-pv--">
        <button class="c-btn c-btn--primary c-btn--ghost c-btn--icon u-mv- u-hidden-from@tablet jsWallBtn"
            data-target="#mobile-nav">
            <span class="u-ic-menu"></span>
        </button>
        <ul class="c-nav c-nav--underscore u-hidden-until@tablet">
            <!-- <li class="c-nav__item"><a href="#trailer">Trailer</a></li> -->
            <li class="c-nav__item"><a href="#countdown">Countdown</a></li>
            <li class="c-nav__item"><a href="#program">Programm</a></li>
            <li class="c-nav__item"><a href="#info">Infos</a></li>
            <li class="c-nav__item"><a href="#venue">Veranstaltungsort</a></li>
        </ul>
    </nav>
</header>
<div class="c-sticky-spacer"></div>

<div id="mobile-nav" class="c-wall jsWall">
    <nav class="o-wrapper u-text-center u-pv--">
        <button class="c-btn c-btn--primary c-btn--ghost c-btn--icon u-mv- jsWallBtn"
            data-target="#mobile-nav">
            <span class="u-ic-close"></span>
        </button>
        <ul class="c-nav c-nav--vertical c-nav--animated">
            <!-- <li class="c-nav__item"><a href="#trailer">Trailer</a></li> -->
            <li class="c-nav__item"><a href="#countdown">Countdown</a></li>
            <li class="c-nav__item"><a href="#program">Programm</a></li>
            <li class="c-nav__item"><a href="#info">Infos</a></li>
            <li class="c-nav__item"><a href="#venue">Veranstaltungsort</a></li>
        </ul>
    </nav>
</div>

{% include newsletter.html %}

<section id="hero" class="c-hero">

    <div class="c-hero__head u-text-center u-pt0 jsAniStart">
        <h1 class="c-hero__title">Macht. Glaube. Hoffnung.</h1>
        <p class="c-hero__subtitle">Was w&uuml;rde Luther uns heute sagen?</p>
    </div>

    <div class="c-hero__img u-ani u-ani--move-up u-ani--fade-in jsAniStart">
        <img src="/assets/img/logo-image.svg" alt="">
    </div>

    <div class="c-hero__sub u-text-center u-ani u-ani--move-up u-ani--fade-in u-ani--delay1 jsAniStart">
        <p>
            Die Themenreihe &bdquo;Hier stehe ich&ldquo; in der
            <br><strong class="u-lead">Liederhalle Stuttgart</strong>
            <br>zur Reformation und ihrer Bedeutung für uns heute.
        </p>
        <p class="u-mb0" style="font-size: 60%">
            <a class="c-link c-link--secondary c-link--dotted" href="#venue">
                Geänderter Veranstaltungsort für Themen am 27.-29. Oktober
            </a>
        </p>
    </div>

    <div class="c-callout c-callout--ev2017 u-hidden-until@tablet u-ani u-ani--fade-in u-ani--delay3 jsAniStart">
        <div class="c-callout__inner">
            Luthers Vermächtnis<br>&mdash;<br>neue Lebensperspektiven
        </div>
    </div>

</section>


<section id="trailer" class="o-wrapper u-pt+">
    <div class="o-ratio o-ratio--16:9 u-2/3@tablet u-box-center" style="background-color: black;">
        <iframe src="https://www.youtube-nocookie.com/embed/Pps348Wf6wk?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
    </div>
</section>


<section id="countdown" class="o-wrapper u-pt+">

    <div class="o-box c-countdown u-content-center u-mb">
        <ul id="jsCountdown" class="c-countdown__list">
            <li class="c-countdown__item">
                <h3 class="c-countdown__name">Tage</h3>
                <div id="days" class="c-countdown__value">45</div>
            </li>
            <li class="c-countdown__item">
                <h3 class="c-countdown__name">Stunden</h3>
                <div id="hours" class="c-countdown__value">12</div>
            </li>
            <li class="c-countdown__item">
                <h3 class="c-countdown__name">Minuten</h3>
                <div id="minutes" class="c-countdown__value">12</div>
            </li>
            <li class="c-countdown__item">
                <h3 class="c-countdown__name">Sekunden</h3>
                <div id="seconds" class="c-countdown__value">50</div>
            </li>
        </ul>
        <div class="c-countdown__display">
            bis zu Thema 8: <strong>Vom Schatten zum Licht – Luthers Platz im großen Drama</strong>
        </div>

        <button class="c-btn c-btn--primary c-btn--shadow u-mt jsToggle" data-target="#newsletterModal" data-class="is-visible">Per E-Mail erinnern lassen</button>

    </div>

</section>


<section id="program" class="o-wrapper u-pt+">

        <h2 class="u-text-center">&bdquo;Hier stehe ich&ldquo; – Die einzelnen Themen</h2>
        <ol class="o-list-bare u-owl">
            <li class="c-card">
                <div class="c-card__number">1</div>
                <div class="c-card__imgwrapper">
                    <img class="c-card__img" src="/assets/img/thema1-320x180.jpg" alt="">
                </div>
                <div class="c-card__body">
                    <div>
                        <h3 class="c-card__title">Licht am Horizont</h3>
                        <p class="c-card__subtitle">Luthers Welt am Scheideweg</p>
                    </div>
                </div>
                <div class="c-card__date">
                    <div>Freitag<br><em>13</em><br>Oktober<br><span class="u-hidden-from@tablet">19:15&nbsp;Uhr</span></div>
                </div>
                <div class="c-card__time u-hidden-until@tablet">
                    <div><br><em>19:15</em><br>Uhr</div>
                </div>
                <!-- <div class="c-card__link">
                    <div>
                        <a class="c-btn c-btn--primary c-btn--ghost c-btn--icon u-hidden-from@tablet" href="/video/2017/10/13/licht-am-horizont.html">
                            <span class="u-ic-videocam"></span>
                        </a>
                        <a class="c-btn c-btn--primary c-btn--ghost u-btn--small u-hidden-until@tablet" href="/video/2017/10/13/licht-am-horizont.html">
                            Aufzeichnung<br>ansehen
                        </a>
                    </div>
                </div> -->
            </li>
            <li class="c-card">
                <div class="c-card__number">2</div>
                <div class="c-card__imgwrapper">
                    <img class="c-card__img" src="/assets/img/thema2-320x180.jpg" alt="">
                </div>
                <div class="c-card__body">
                    <div>
                        <h3 class="c-card__title">Der Schrei der Seele</h3>
                        <p class="c-card__subtitle">Luther und der innere Frieden</p>
                    </div>
                </div>
                <div class="c-card__date">
                    <div>Samstag<br><em>14</em><br>Oktober<br><span class="u-hidden-from@tablet">19:15&nbsp;Uhr</span></div>
                </div>
                <div class="c-card__time u-hidden-until@tablet">
                    <div><br><em>19:15</em><br>Uhr</div>
                </div>
            </li>
            <li class="c-card">
                <div class="c-card__number">3</div>
                <div class="c-card__imgwrapper">
                    <img class="c-card__img" src="/assets/img/thema3-320x180.jpg" alt="">
                </div>
                <div class="c-card__body">
                    <div>
                        <h3 class="c-card__title">Die Fackel des Habakuk</h3>
                        <p class="c-card__subtitle">Luther und das Wort Gottes</p>
                    </div>
                </div>
                <div class="c-card__date">
                    <div>Sonntag<br><em>15</em><br>Oktober<br><span class="u-hidden-from@tablet">19:15&nbsp;Uhr</span></div>
                </div>
                <div class="c-card__time u-hidden-until@tablet">
                    <div><br><em>19:15</em><br>Uhr</div>
                </div>
            </li>
            <li class="c-card">
                <div class="c-card__number">4</div>
                <div class="c-card__imgwrapper">
                    <img class="c-card__img" src="/assets/img/thema4-320x180.jpg" alt="">
                </div>
                <div class="c-card__body">
                    <div>
                        <h3 class="c-card__title">Die Absolute Wahrheit?</h3>
                        <p class="c-card__subtitle">Luther und der Anspruch der Kirche</p>
                    </div>
                </div>
                <div class="c-card__date">
                    <div>Freitag<br><em>20</em><br>Oktober<br><span class="u-hidden-from@tablet">19:15&nbsp;Uhr</span></div>
                </div>
                <div class="c-card__time u-hidden-until@tablet">
                    <div><br><em>19:15</em><br>Uhr</div>
                </div>
            </li>
            <li class="c-card">
                <div class="c-card__number">5</div>
                <div class="c-card__imgwrapper">
                    <img class="c-card__img" src="/assets/img/thema5-320x180.jpg" alt="">
                </div>
                <div class="c-card__body">
                    <div>
                        <h3 class="c-card__title">„... ich kann nicht anders“</h3>
                        <p class="c-card__subtitle">Luther und die Gewissensfreiheit</p>
                    </div>
                </div>
                <div class="c-card__date">
                    <div>Samstag<br><em>21</em><br>Oktober<br><span class="u-hidden-from@tablet">19:15&nbsp;Uhr</span></div>
                </div>
                <div class="c-card__time u-hidden-until@tablet">
                    <div><br><em>19:15</em><br>Uhr</div>
                </div>
            </li>
            <li class="c-card">
                <div class="c-card__number">6</div>
                <div class="c-card__imgwrapper">
                    <img class="c-card__img" src="/assets/img/thema6-320x180.jpg" alt="">
                </div>
                <div class="c-card__body">
                    <div>
                        <h3 class="c-card__title">Fataler Fanatismus</h3>
                        <p class="c-card__subtitle">Luther zwischen den Fronten</p>
                    </div>
                </div>
                <div class="c-card__date">
                    <div>Sonntag<br><em>22</em><br>Oktober<br><span class="u-hidden-from@tablet">19:15&nbsp;Uhr</span></div>
                </div>
                <div class="c-card__time u-hidden-until@tablet">
                    <div><br><em>19:15</em><br>Uhr</div>
                </div>
            </li>
            <li class="c-card">
                <div class="c-card__number">7</div>
                <div class="c-card__imgwrapper">
                    <img class="c-card__img" src="/assets/img/thema7-320x180.jpg" alt="">
                </div>
                <div class="c-card__body">
                    <div>
                        <h3 class="c-card__title">Der Antichrist</h3>
                        <p class="c-card__subtitle">Luthers Idee oder Realität?</p>
                    </div>
                </div>
                <div class="c-card__date">
                    <div>Freitag<br><em>27</em><br>Oktober<br><span class="u-hidden-from@tablet">19:15&nbsp;Uhr</span></div>
                </div>
                <div class="c-card__time u-hidden-until@tablet">
                    <div><br><em>19:15</em><br>Uhr</div>
                </div>
            </li>
            <li class="c-card c-card--highlight">
                <div class="c-card__number">8</div>
                <div class="c-card__imgwrapper">
                    <img class="c-card__img" src="/assets/img/thema8-320x180.jpg" alt="">
                </div>
                <div class="c-card__body">
                    <div>
                        <h3 class="c-card__title">Vom Schatten zum Licht</h3>
                        <p class="c-card__subtitle">Luthers Platz im großen Drama</p>
                    </div>
                </div>
                <div class="c-card__date">
                    <div>Samstag<br><em>28</em><br>Oktober<br><span class="u-hidden-from@tablet">19:15&nbsp;Uhr</span></div>
                </div>
                <div class="c-card__time u-hidden-until@tablet">
                    <div><br><em>19:15</em><br>Uhr</div>
                </div>
            </li>
            <li class="c-card">
                <div class="c-card__number">9</div>
                <div class="c-card__imgwrapper">
                    <img class="c-card__img" src="/assets/img/thema9-320x180.jpg" alt="">
                </div>
                <div class="c-card__body">
                    <div>
                        <h3 class="c-card__title">Reformation &mdash; Wohin?</h3>
                        <p class="c-card__subtitle">Luther &mdash; zu Ende gedacht</p>
                    </div>
                </div>
                <div class="c-card__date">
                    <div>Sonntag<br><em>29</em><br>Oktober<br><span class="u-hidden-from@tablet">19:15&nbsp;Uhr</span></div>
                </div>
                <div class="c-card__time u-hidden-until@tablet">
                    <div><br><em>19:15</em><br>Uhr</div>
                </div>
            </li>
        </ol>

</section>


<section id="info" class="c-section c-section--primary u-mt++">
    <div class="o-wrapper u-text-center u-pv++">

        <h2 class="u-uppercase">Hier stehe ich</h2>
        <p class="u-lead">Vorträge über die Reformation und die Bedeutung für unsere Welt heute</p>
        <p>Das Reformationsjubiläum 2017 hat begonnen. An vielen Orten und von vielen Kirchen und Organisationen werden Veranstaltungen und Infos angeboten. Die Worte „Reformation" und „Luther" kommen häufig vor, aber über den Inhalt der Reformation wird wenig bis gar nichts gesagt. Noch weniger hört man darüber, welche Bedeutung die Reformation für uns heute hat - denn für die meisten Menschen ist die Reformation lediglich ein historisches Ereignis.</p>

        <hr class="u-mv+">

        <h2 class="u-text-center u-uppercase">Eintritt Frei</h2>
        <p>Freiwillige Spenden sind willkommen.</p>

        <hr class="u-mv+">

        <div class="o-layout o-layout--middle">
            <div class="o-layout__item u-1/2 u-1/4@tablet u-mb u-mb0@tablet">
                <img class="c-img c-img--round" src="/assets/img/speaker-eric.jpg">
            </div>
            <div class="o-layout__item u-3/4@tablet u-pl+@tablet">
                <h2 class="u-uppercase u-mb0">Eric Flickinger</h2>
                <p class="u-lead">Internationaler Sprecher</p>
                <p>Eric Flickinger ist assoziierter Sprecher für „<a class="c-link c-link--white c-link--dotted" href="http://www.itiswritten.com">It Is Written</a>“. Er ist gebürtiger Cannstatter und hat bis heute zahlreiche Vortragsreihen in den USA, Kanada, Asien und Europa gehalten. Eric hat eine besondere Gabe, selbst schwierige fachliche und biblische Themen einfach erklären zu können.</p>
            </div>
        </div>

    </div>
</section>


<section id="venue" class="o-wrapper u-text-center u-pt++">

    <h2>Veranstaltungsort</h2>

    <h3>27.-29. Oktober</h3>
    <p class="u-lead u-mb--">
        Christuskirche
        <br><small>Federseestr. 7, Stuttgart-Wangen</small>
    </p>

    <a class="c-link c-link--img c-link--secondary" href="https://www.google.de/maps/place/Federseestra%C3%9Fe+7,+70327+Stuttgart/@48.7724079,9.2407564,19z/data=!3m1!4b1!4m5!3m4!1s0x4799c45d903e1c19:0xcdd9e516853838c6!8m2!3d48.7724079!4d9.2413036" target="_blank">
        <img src="https://maps.googleapis.com/maps/api/staticmap?center=Federseestr.+7,Stuttgart-Wangen&zoom=13&size=640x320&scale=2&maptype=roadmap&markers=label:Christuskirche|48.7727069,9.2401853&language=de&key=AIzaSyB1ykghV0wkQO8UX6IPjbGSC1NLFg9Joqw">
    </a>

    <h3 class="u-mt+">13.-22. Oktober</h3>
    <p class="u-lead u-mb--">
        Liederhalle Stuttgart
        <br><small>Silcher Saal</small>
    </p>
    <ul class="o-list-inline">
        <li class="u-mr-">
            <a class="c-link c-link--secondary c-link--dotted" href="http://www.liederhalle-stuttgart.de" target="_blank" rel="noopener">Website <span class="u-ic-open-in-new"></span></a>
        </li>
        <li>
            <a class="c-link c-link--secondary c-link--dotted" href="https://www.google.de/maps/place/Kultur-+und+Kongresszentrum+Liederhalle/@48.7791922,9.1670187,17z/data=!3m1!4b1!4m5!3m4!1s0x4799db3825f669f7:0x7e63825273e57d5e!8m2!3d48.7791922!4d9.1692074" target="_blank" rel="noopener">Auf Karte anzeigen <span class="u-ic-open-in-new"></span></a>
        </li>
    </ul>
    <figure>
        <img src="/assets/img/location.jpg">
    </figure>

</section>



