---
layout: default
---

<header id="menu" class="c-sticky">
    <div class="o-wrapper u-pv--">
        <ul class="c-menu">
            <!-- <li class="c-menu__item"><a href="#trailer">Trailer</a></li> -->
            <li class="c-menu__item u-hidden-until@tablet"><a href="#countdown">Countdown</a></li>
            <li class="c-menu__item"><a href="#program">Programm</a></li>
            <li class="c-menu__item"><a href="#info">Infos</a></li>
            <li class="c-menu__item"><a href="#venue">Veranstaltungsort</a></li>
        </ul>
    </div>
</header>
<div class="c-sticky-spacer"></div>

{% include newsletter.html %}

<section id="hero" class="c-hero">

    <div class="c-hero__head u-text-center u-pt0 jsAniStart">
        <h1 class="c-hero__title">Macht. Glaube. Hoffnung.</h1>
        <p class="c-hero__subtitle">Was w&uuml;rde Luther uns heute sagen?</p>
    </div>

    <div class="c-hero__img u-ani u-ani--move-up u-ani--fade-in jsAniStart">
        <img src="/assets/img/logo-image.svg" alt="">
    </div>

    <div class="c-hero__sub u-text-center u-ani u-ani--move-up u-ani--fade-in u-ani--delay1 jsAniStart">
        <p class="u-mb0">
            Eine Themenreihe in der
            <br><strong class="u-lead">Liederhalle Stuttgart</strong>
            <br>zur Reformation und ihrer Bedeutung für uns heute.
        </p>
    </div>

    <div class="c-callout c-callout--ev2017 u-hidden-until@tablet u-ani u-ani--fade-in u-ani--delay3 jsAniStart">
        <div class="c-callout__inner">
            Wie Luthers Vermächtnis heute Perspektiven schafft
        </div>
    </div>

</section>


<!-- <section id="trailer" class="o-wrapper u-pt+">
    <div class="o-ratio o-ratio--16:9 u-2/3@tablet u-box-center" style="background-color: black;">
        <iframe src="https://www.youtube-nocookie.com/embed/JrdAJEWSTxg?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
    </div>
</section> -->


<section id="countdown" class="o-wrapper u-pt+">

    <div class="o-box c-countdown u-content-center u-mb+">
        <ul id="jsCountdown" class="c-countdown__list">
            <li class="c-countdown__item">
                <h3 class="c-countdown__name">Tage</h3>
                <div id="days" class="c-countdown__value">45</div>
            </li>
            <li class="c-countdown__item">
                <h3 class="c-countdown__name">Stunden</h3>
                <div id="hours" class="c-countdown__value">12</div>
            </li>
            <li class="c-countdown__item">
                <h3 class="c-countdown__name">Minuten</h3>
                <div id="minutes" class="c-countdown__value">12</div>
            </li>
            <li class="c-countdown__item">
                <h3 class="c-countdown__name">Sekunden</h3>
                <div id="seconds" class="c-countdown__value">50</div>
            </li>
        </ul>
        <div class="c-countdown__display">
            bis zu Thema 1: <strong>Licht am Horizont – Luthers Welt am Scheideweg</strong>
        </div>

        <button class="c-btn c-btn--primary c-btn--shadow u-mt jsToggle u-hidden-from@tablet" data-target="#newsletterModalMobile" data-class="is-shown">Per E-Mail erinnern lassen</button>
        <button class="c-btn c-btn--primary c-btn--shadow u-mt jsToggle u-hidden-until@tablet" data-target="#newsletterModalDesktop" data-class="is-shown">Per E-Mail erinnern lassen</button>

    </div>

</section>


<section id="program" class="o-wrapper u-pt">

        <h2 class="u-text-center">Themen</h2>
        <ol class="o-list-bare u-owl">
            <li class="c-card c-card--highlight">
                <div class="c-card__number">1</div>
                <div class="c-card__imgwrapper">
                    <img class="c-card__img" src="/assets/img/thema1-320x180.jpg" alt="">
                </div>
                <div class="c-card__body">
                    <div>
                        <h3 class="c-card__title">Licht am Horizont</h3>
                        <p class="c-card__subtitle">Luthers Welt am Scheideweg</p>
                    </div>
                </div>
                <div class="c-card__date">
                    <div>Freitag<br><em>13</em><br>Oktober<br><span class="u-hidden-from@tablet">19:15&nbsp;Uhr</span></div>
                </div>
                <div class="c-card__time u-hidden-until@tablet">
                    <div><br><em>19:30</em><br>Uhr</div>
                </div>
            </li>
            <li class="c-card">
                <div class="c-card__number">2</div>
                <div class="c-card__imgwrapper">
                    <img class="c-card__img" src="/assets/img/thema2-320x180.jpg" alt="">
                </div>
                <div class="c-card__body">
                    <div>
                        <h3 class="c-card__title">Der Schrei der Seele</h3>
                        <p class="c-card__subtitle">Luthers Ringen um inneren Frieden</p>
                    </div>
                </div>
                <div class="c-card__date">
                    <div>Samstag<br><em>14</em><br>Oktober<br><span class="u-hidden-from@tablet">19:15&nbsp;Uhr</span></div>
                </div>
                <div class="c-card__time u-hidden-until@tablet">
                    <div><br><em>19:30</em><br>Uhr</div>
                </div>
            </li>
            <li class="c-card">
                <div class="c-card__number">3</div>
                <div class="c-card__imgwrapper">
                    <img class="c-card__img" src="/assets/img/thema3-320x180.jpg" alt="">
                </div>
                <div class="c-card__body">
                    <div>
                        <h3 class="c-card__title">Die Fackel des Habakuk</h3>
                        <p class="c-card__subtitle">Das Wort des Lebens verändert Luthers Herz</p>
                    </div>
                </div>
                <div class="c-card__date">
                    <div>Sonntag<br><em>15</em><br>Oktober<br><span class="u-hidden-from@tablet">19:15&nbsp;Uhr</span></div>
                </div>
                <div class="c-card__time u-hidden-until@tablet">
                    <div><br><em>19:30</em><br>Uhr</div>
                </div>
            </li>
            <li class="c-card">
                <div class="c-card__number">4</div>
                <div class="c-card__imgwrapper">
                    <img class="c-card__img" src="/assets/img/thema4-320x180.jpg" alt="">
                </div>
                <div class="c-card__body">
                    <div>
                        <h3 class="c-card__title">Die Absolute Wahrheit?</h3>
                        <p class="c-card__subtitle">Luther untergräbt den Anspruch der Kirche</p>
                    </div>
                </div>
                <div class="c-card__date">
                    <div>Freitag<br><em>20</em><br>Oktober<br><span class="u-hidden-from@tablet">19:15&nbsp;Uhr</span></div>
                </div>
                <div class="c-card__time u-hidden-until@tablet">
                    <div><br><em>19:30</em><br>Uhr</div>
                </div>
            </li>
            <li class="c-card">
                <div class="c-card__number">5</div>
                <div class="c-card__imgwrapper">
                    <img class="c-card__img" src="/assets/img/thema5-320x180.jpg" alt="">
                </div>
                <div class="c-card__body">
                    <div>
                        <h3 class="c-card__title">„... ich kann nicht anders“</h3>
                        <p class="c-card__subtitle">Luther erkämpft die Gewissensfreiheit</p>
                    </div>
                </div>
                <div class="c-card__date">
                    <div>Samstag<br><em>21</em><br>Oktober<br><span class="u-hidden-from@tablet">19:15&nbsp;Uhr</span></div>
                </div>
                <div class="c-card__time u-hidden-until@tablet">
                    <div><br><em>19:30</em><br>Uhr</div>
                </div>
            </li>
            <li class="c-card">
                <div class="c-card__number">6</div>
                <div class="c-card__imgwrapper">
                    <img class="c-card__img" src="/assets/img/thema6-320x180.jpg" alt="">
                </div>
                <div class="c-card__body">
                    <div>
                        <h3 class="c-card__title">Fataler Fanatismus</h3>
                        <p class="c-card__subtitle">Luther zwischen den Fronten</p>
                    </div>
                </div>
                <div class="c-card__date">
                    <div>Sonntag<br><em>22</em><br>Oktober<br><span class="u-hidden-from@tablet">19:15&nbsp;Uhr</span></div>
                </div>
                <div class="c-card__time u-hidden-until@tablet">
                    <div><br><em>19:30</em><br>Uhr</div>
                </div>
            </li>
            <li class="c-card">
                <div class="c-card__number">7</div>
                <div class="c-card__imgwrapper">
                    <img class="c-card__img" src="/assets/img/thema7-320x180.jpg" alt="">
                </div>
                <div class="c-card__body">
                    <div>
                        <h3 class="c-card__title">Der Antichrist</h3>
                        <p class="c-card__subtitle">Luthers Idee oder Realität?</p>
                    </div>
                </div>
                <div class="c-card__date">
                    <div>Freitag<br><em>27</em><br>Oktober<br><span class="u-hidden-from@tablet">19:15&nbsp;Uhr</span></div>
                </div>
                <div class="c-card__time u-hidden-until@tablet">
                    <div><br><em>19:30</em><br>Uhr</div>
                </div>
            </li>
            <li class="c-card">
                <div class="c-card__number">8</div>
                <div class="c-card__imgwrapper">
                    <img class="c-card__img" src="/assets/img/thema8-320x180.jpg" alt="">
                </div>
                <div class="c-card__body">
                    <div>
                        <h3 class="c-card__title">Vom Schatten zum Licht</h3>
                        <p class="c-card__subtitle">Luthers Platz im großen Drama</p>
                    </div>
                </div>
                <div class="c-card__date">
                    <div>Samstag<br><em>28</em><br>Oktober<br><span class="u-hidden-from@tablet">19:15&nbsp;Uhr</span></div>
                </div>
                <div class="c-card__time u-hidden-until@tablet">
                    <div><br><em>19:30</em><br>Uhr</div>
                </div>
            </li>
            <li class="c-card">
                <div class="c-card__number">9</div>
                <div class="c-card__imgwrapper">
                    <img class="c-card__img" src="/assets/img/thema9-320x180.jpg" alt="">
                </div>
                <div class="c-card__body">
                    <div>
                        <h3 class="c-card__title">Reformation – Wohin?</h3>
                        <p class="c-card__subtitle">Luther – zu Ende gedacht</p>
                    </div>
                </div>
                <div class="c-card__date">
                    <div>Sonntag<br><em>29</em><br>Oktober<br><span class="u-hidden-from@tablet">19:15&nbsp;Uhr</span></div>
                </div>
                <div class="c-card__time u-hidden-until@tablet">
                    <div><br><em>19:30</em><br>Uhr</div>
                </div>
            </li>
        </ol>

</section>


<section id="info" class="c-section c-section--primary u-mt++">
    <div class="o-wrapper u-text-center u-pv++">

        <h2 class=" u-uppercase">Hier stehe ich</h2>
        <p class="u-lead">Vorträge über die Reformation und die Bedeutung für unsere Welt heute</p>
        <p>Das Reformationsjubiläum 2017 hat begonnen. An vielen Orten und von vielen Kirchen und Organisationen werden Veranstaltungen und Infos angeboten. Die Worte „Reformation" und „Luther" kommen häufig vor, aber über den Inhalt der Reformation wird wenig bis gar nichts gesagt. Noch weniger hört man darüber, welche Bedeutung die Reformation für uns heute hat - denn für die meisten Menschen ist die Reformation lediglich ein historisches Ereignis.</p>

        <hr class="u-mv+">

        <h2 class="u-text-center u-uppercase">Eintritt Frei</h2>
        <p class="u-lead">Dank der Unterstützung von It Is Written</p>
        <p>Um Spenden werden gebeten.</p>

    </div>
</section>


<section id="venue" class="o-wrapper u-text-center u-mt+">

    <h2>Veranstaltungsort</h2>
    <p class="u-lead u-mb--">
        Liederhalle Stuttgart
    </p>
    <ul class="o-list-inline">
        <li class="u-mr-">
            <a class="c-link c-link--secondary c-link--dotted" href="http://www.liederhalle-stuttgart.de" target="_blank" rel="noopener">Website <span class="u-ic-open-in-new"></span></a>
        </li>
        <li>
            <a class="c-link c-link--secondary c-link--dotted" href="https://www.google.de/maps/place/Kultur-+und+Kongresszentrum+Liederhalle/@48.7791922,9.1670187,17z/data=!3m1!4b1!4m5!3m4!1s0x4799db3825f669f7:0x7e63825273e57d5e!8m2!3d48.7791922!4d9.1692074" target="_blank" rel="noopener">Auf Karte anzeigen <span class="u-ic-open-in-new"></span></a>
        </li>
    </ul>
    <figure>
        <img src="/assets/img/location.jpg">
    </figure>

</section>



